:root{
    --var--green: #009688;
    ---var--beigegreen: #dadbd3;
    --var--lightgray: #eaeaea;
    --var--white: white;
    --var--skyblue: #8edafd;
    --var--beige: #f3eeea;
}

img{
    width: 10%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.aesthetic-header{
    height: 151px;
    width: 100%;
    background-color: var(--var--green);
}

.aesthetic-main{
    height: 100vh;
    background-color: var(---var--beigegreen);
}

.container-main{
    height: 90%;
    width: 90%;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 13px;
}

.scrollbar-contacts{
    width: 557px;
    background-color: var(--var--white);
}

.bar, 
.notificationsonoff,
.input-chat{
    flex-basis: 10%;
}

.bar{
    background-color: var(--var--lightgray);
}

.notificationsonoff{
    background-color: var(--var--skyblue);
}

.chat{
    overflow: scroll;
}

.input-chat{
    background-color: var(--var--beige);
}

.user-name{
    font-weight: bold;
}

.text{
    width: 100%;
}

.last-massage,
.time{
    color: lightgrey;
}
