:root{
    --var--green: #009688;
    ---var--beigegreen: #dadbd3;
    --var--lightgreen: #d5f9ba;
    --var--lightgray: #eaeaea;
    --var--white: white;
    --var--gray: rgba(128, 128, 128, 0.694);
    --var--darkgray: #6b7376;
    --var--skyblue: #8edafd;
    --var--beige: #f3eeea;
}

button{
    border: none;
}

img{
    width: 12%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.aesthetic-header{
    height: 151px;
    width: 100%;
    background-color: var(--var--green);
}

.aesthetic-main{
    height: 100vh;
    background-color: var(---var--beigegreen);
}

.container-main{
    height: 90%;
    width: 90%;
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    font-size: 13px;
}

.scrollbar-contacts{
    border-right: 1px solid rgba(128, 128, 128, 0.373);
    width: 540px;
    background-color: var(--var--white);
}

.bar, 
.notificationsonoff,
.input-chat{
    flex-basis: 60px;
}

.bar,
.bar .list-group-item{
    background-color: var(--var--lightgray);
    border: none;
}

.button{
    color: var(--var--gray);
}


.notificationsonoff{
    background-color: var(--var--skyblue);
    padding: 15px;

}

.a-text{
    text-decoration: underline;
    color: var(--var--gray);
}

.bell{
    background-color: var(--var--white);
    color: var(--var--skyblue);
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

.input-group{
    border: 10px solid transparent;
}

.chat{
    overflow: scroll;
    background-image: url(.././img/IMG_8609.JPG);
    background-size: contain;
}

.input-chat{
    background-color: var(--var--beige);
}

.user-name{
    font-weight: bold;
}

.text{
    width: 100%;
}

.last-massage,
.time,
.last-access{
    color: var(--var--gray);
}

.chat-section img{
    width: 5%;
}

.input-chat,
.card{
    position: relative;
}

.input-chat .row{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-chat .col-1,
.input-chat .col-2{
    font-size: 25px;
    color: var(--var--darkgray);
    text-align: center;
}

.chat .card{
    --bs-card-border-width: none;
    max-width: 15rem;
    max-height: 53px;
}

.card .time{
    font-size: 10px;
    position:absolute;
    bottom: 0;
    right: 2px;
}

.card.card-green{
    background-color: var(--var--lightgreen);
    position: relative;
    left: 480px;
}
